.osc-background-symbolic {
    background-image: url("osc.png");
    height: 16px;
    width:16px;
}

.osc-entry-section {
    padding:0 12px;
}

.osc-scroll-view-section {
    max-width: 850px;
}

.osc-notify-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.osc-tweet-comment {
    text-align: left;
    padding:0 20px;
}
